<div id="info">
      <div id="neighborhood_details" class="neighborhood_info">
        <h2 id="name">Click on a neighborhood for details</h2>
        <div id="featured_neighborhoods">
            <h3>Featured Neighborhoods</h3>
            <ul id="neighborhoods_list">
              <li class="n_name">Upper West Side</li>
              <li class="n_name">Clinton Hill</li>
            </ul>
        </div>
      </div>
  </div>
  <div id="map"></div>

