<div id="key">

  <% lang_colors.each_with_index do |(language, color), index| %>
    <div class="key-row">
      <div class="color">
          <div id="<%= language %>" class="color-swatch" style="background:<%= color %>"></div>
      </div>
      <div class="language-name"><%= language %></div>
    </div>
  <% end %>
  <a href="#" id="reset" class="btn btn-primary btn-xs">Return to Explore Mode</a>

</div>
