<div id="info">
      <div id="neighborhood_details" class="neighborhood_info">
        <h2 id="name">Click on a state to learn about the languages spoken there.</h2>
        <div id="options">
            <div id="language_data"></div>
        </div>
      </div>
  </div>
  <div id="usaMap"></div>

<script>
  function stateInfo(stateName) {
  var url = "<%= state_data_path %>";
    $.ajax({
      url: url,
      data: {'name': stateName},
      method: "GET",
      dataType: "JSON"
    }).success(function(data){
      $('#language_data').html(data.text);
    })
  }
</script>
