<div id="info">
      <div id="neighborhood_details" class="neighborhood_info">
        <h2 id="name">Click on a state to learn about the languages spoken there.</h2>
        <div id="options">
            <h3 class="state_name">Texas</h3>
            <div class="state_languages"></div>
            <h3>Spanish</h3>
        </div>
      </div>
  </div>
  <div id="usaMap"></div>

<script>  
function stateInfo(stateName) {
  var slugName = stateName.toLowerCase().split(" ").join("-");
  var url = "<%= state_data_path %>";
    $.ajax({
      url: url,
      data: {'name': stateName},
      method: "GET",
      dataType: "JSON"
    }).success(function(data){
      debugger;
    })
    // $.getJSON('assets/json/sample-data.json', function(data) {
    //   var items = "";
    //   $.each(data, function(key, val) {
    //     items += "<li id='" + key + "'>" + key + ": " + val + "</li>";
    //     });
    //   $('.state_languages').append(items);
    // });
  }
</script>
