<div id="info">
      <div id="neighborhood_details" class="neighborhood_info">
        <div id="language_data"></div>
        <div id="display-key"></div>
      </div>
  </div>
  
    <div id="usaMap"></div>
 

<script>
  function displayStateInfo(stateName) {
  var url = "<%= state_data_path %>";
    $.ajax({
      url: url,
      data: {'name': stateName},
      method: "GET",
      dataType: "JSON"
    }).success(function(data){
      $('#language_data').html(data.text);
    })
  };

  function colorCodeMap(id){
    var url = "<%= visualize_path %>"
    $.ajax({
      url: url,
      data: {'language_num': id},
      method: "GET",
      dataType: "JSON"
    }).success(function(data){
      var state_names = data["state_names"];
      var all_state_data = data["data"];
      for (var i=0; i < state_names.length; i++){
        var state_name = state_names[i];
        var state_data = all_state_data[state_name];
        var sluggedName = createSlug(state_name);
        var selector = "#" + sluggedName;
        console.log(sluggedName, state_data.color, state_data.language)
        $(selector).css("fill", state_data.color);
      }
      $("#display-key").html(data['text']);
    })
  }

</script>
