// Place all the styles related to the maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
path:hover {
  fill:red;  
}

.margin{
    margin: 50px;
}


#map{
    /*position: absolute;
    top: 0;
    right: 0;
    width: 1100px;*/
    /*border: 3px solid #73AD21;*/
}

svg{
  margin-top: 0px;
  width: 1000px;
  float: left;
  z-index: -1;
}