.states {
  stroke: #000;
  fill-opacity: .7;
}

.symbol {
  fill: steelblue;
  fill-opacity: .8;
  stroke: #fff;
}

#usaMap {
  position: absolute;
  top: 200px;
  left: 250px;
}

#views {
  list-style-type: none;
}

#state_data{
  position: absolute;
  top: 200px;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
