  .states {
        stroke: #000;
        fill-opacity: .7;
    }

    .symbol {
        fill: steelblue;
        fill-opacity: .8;
        stroke: #fff;
    }

    #usaMap {
      position: absolute;
      top: 80px;
      left: 200px;
    }

    .state_languages {
      position: absolute;
    }
    
    #views {
      list-style-type: none;
    }
  

   /* text {
      display: block;
    }
*/
/*
    text:hover {
      font-size: "20px";
    }*/
