  .states {
        stroke: #000;
        fill-opacity: .7;
    }

    .symbol {
        fill: steelblue;
        fill-opacity: .8;
        stroke: #fff;
    }

    #usaMap {
      position: absolute;
    }

    .state_languages {
      position: absolute;
    }

  

   /* text {
      display: block;
    }
*/
/*
    text:hover {
      font-size: "20px";
    }*/
