
  <h3>Welcome!</h3>
  <p class="about">Click on the map and use the options above to learn about the languages spoken across the United States. You are currently in "Explore" mode.</p>
  <p class="about">Data Source: <a href="http://www.census.gov/data/tables/2013/demo/2009-2013-lang-tables.html" target="_blank">2009-2013 American Community Survey</a></p>


