<ul class="nav nav-tabs">
  <li class="active"><a href="#home" data-toggle="tab">Language Map</a></li>
  <li id="reset"><a href="#profile" data-toggle="tab">Reset Map</a></li>
  <!-- <li class="disabled"><a>Disabled</a></li> -->
  
  <!-- Start View Options -->
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      Visualize <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li class="view_option" id="0"><a href="#dropdown1" data-toggle="tab">Dominant Non-English Language</a></li>
      <li class="divider"></li>
      <li class="view_option" id="1"><a href="#dropdown2" data-toggle="tab">Second-Ranking Non-English Language</a></li>
    </ul>
  </li>
  <!-- End View Options -->


  <!-- Start State Options -->
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      States <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li class="view_option" id="0"><a href="#dropdown1" data-toggle="tab">Dominant Non-English Language</a></li>
      <li class="divider"></li>
      <li class="view_option" id="1"><a href="#dropdown2" data-toggle="tab">Second-Ranking Non-English Language</a></li>
    </ul>
  </li>
  <!-- End State Options -->
</ul>


<div id="options">
  <%= form_tag({:url => "/state_languages/data", method: "get"}, {:id => "select_state"}) do %>
    <%= select_tag "state", options_from_collection_for_select(State.all, :name, :name), :prompt => "Select a State" %>
  <% end %>
</div>
