<ul class="nav nav-pills">
  <li class="active"><a href="#home">Language Map</a></li>
  <li id="reset"><a href="#profile">Reset Map</a></li>
  
  <!-- Start View Options -->
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      Visualize <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li class="view_option" id="0"><a href="#dropdown1" data-toggle="tab">Dominant Non-English Language</a></li>
      <li class="divider"></li>
      <li class="view_option" id="1"><a href="#dropdown2" data-toggle="tab">Second-Ranking Non-English Language</a></li>
    </ul>
  </li>
  <!-- End View Options -->


  <!-- Start State Options -->
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      States <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" id="select_state">
      <% State.all.each do |state| %>
        <li class="state-choice"><a href="#" data-toggle="tab"><%= state.name %></a></li>
        <li class="divider"></li>
      <% end %>
    </ul>
  </li>
  <!-- End State Options -->
</ul>



